<h2>Hello <%= current_user.email %>!</h2>

<h3>Current Todo Items</h3>
<div class="row">
  <div class="col-md-8">
    <div class="media">
      <div class="media-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Description</th>
              <th>Complete</th>
            </tr>
          </thead>
          <tbody>
            <tr class='js-items'>
              <%= render @items %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<h3>Create Todo Items</h3>
<div class="container">
  <%= render 'items/form', item: Item.new, user: @user %>
</div>
