<h1>Do or Die</h1>
<div class="well">
  <h4>Inspired by to-do list clutter, Do or Die will keep to-do lists manageable by automatically deleting to-do items that have not been completed after seven days.</h4>
  <h5><a href="https://github.com/lkang-pdx/do-or-die">GitHub Repo</a></h5>
</div>
