<div id='banner'>
  <div class='banner_content'>
    <h1>Get Stuff Done</h1>
    <h3>Do or Die is here to help you tick off all your<br>personal and professional to-dos within a week.</h3>
    <p>
      <%= link_to "Create a free account", new_user_registration_path, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>
