<div class="jumbotron">
  <h1>Do or Die</h1>
  <p>Do or Die is an application for creating self-destructing to-do lists!</p>
  <p>
  <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-lg' %> or
  <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-lg' %> today!
  </p>
</div>
