/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
// @import "bootstrap";

 // Import cerulean variables
@import "bootswatch/superhero/variables";

// Then bootstrap itself
@import "bootstrap";

@mixin bold_font {
	font-family: "Brandon Grotesque","Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }

// And finally bootswatch style itself
@import "bootswatch/superhero/bootswatch";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.table-font {
  font-size: 20px;
}

#banner {
	background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(image_path("banner.jpg"));
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	width: 100%;
	min-height: 650px;
	display: table;
	.banner_content {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		h1 {
			@include bold_font;
			color: white;
			font-size: 4rem;
			margin: 0;
      margin-bottom: 10px;
		}
		h3 {
			font-size: 2.5rem;
			margin: 2 2 2 2;
			color: white;
      margin-bottom: 30px;
		}
	}
}
